numpy
pandas
matplotlib
seaborn
scikit-learn
spaCy
XGBoost
SVM
nltk
textblob
collection
gdown
dvc
mlflow==2.11.1
notebook
python-box==7.1.1
pyYAML
tqdm
ensure==1.0.4
joblib
types-pyYAML
scipy
Flask
Flask-Cors
-e.